h1 About Us

p Clydesdale Financial  Limited is a new company within the Hugh J. Ward & Co. Solicitors Group who are a large dynamic law firm founded in 1995.

p The Group are specialists in Credit Management and Debt Collection and currently act for Large Financial Institutions in Ireland, Credit Card, Loans, Main Utilities Sectors including Energy Supply and Telecommunications services.

p Clydesdale Financial  Limited was created to meet the demand for End To End Credit Management Solutions. Clydesdale Financial  Limited offers Tailored Solutions from Sales/Invoicing to Lodgement of Funds.

p Clydesdale Financial  Limited are the only company in Ireland offering a complete solution in terms of End to End Credit Management Outsourcing.
