h1 Clydesdale Financial Limited

p We are interested in purchasing both secured and unsecured debt books. Our experience since 1999 in the purchase and sale of debt books allows us provide you with purchase, management and collection of debt. Our dedicated team will perform insightful due diligence on your debt book. This can involve a review of the supporting credit documentation including your existing credit application forms, terms and conditions, guarantees, security, charge, and other receivables management documentations.

= image_tag('horse')
