h1 Third Party Collections

p This service allows you select and instruct us on the collection of outstanding accounts and applies to your customers who are slow payers as well as non payers. Our collection strategies allow us to effectively collect debt prior to using the court systems.

p The combination of our experienced collectors and our computer systems allow us to quickly collect outstanding debt thereby improving your cash flow and working capital. It is important to note that we will distinguish the customers you may wish to continue to do business with from the customers that you do not want an ongoing relationship with.

h1 Contacts - letters/telephone/fax/email/text</h1>

p We are in a position to agree a strategy of collection with you using a combination of the above communication techniques. The content of the communication can be agreed with you to tailor the communication to your customers.

p We are keenly aware of the differentiation of slow paying customers that you may wish to retain as customers and non paying customers who you may not want to retain and will issue communications in a form and content that recognizes that distinction.

h1 Performing Debt Management

p You may have extended credit to your customers who are regularly making repayments to you. We will cost that service you are providing to that customer and show you how much of a saving you can make by allowing us manage the regular payments that your client is making. This will include the provision or management of a dedicated cash applications and reconciliation team who can resolve issues like debit balances, chargeback’s, volume discounts and advance allowances.
